## Introduction

Tanzania is grappling with several pressing issues, including frequent occurrence of severe droughts which have devastating effects on the environment and human settlements. Access to clean water is a major concern in Tanzania. Only 55% of the population has access to improved water sources, and a mere 44% have piped water. This shortage has significant implications for public health, food security, and economic development. Rural areas are particularly affected, with many communities relying on informal and often unreliable sources of water.

### Business understanding
Access to clean water is a fundamental human right, yet millions of people in Tanzania lack reliable access to safe drinking water. Investment has been done heavily on drilling water wells, but many of these wells are non-functional, leaving communities without access to this essential resource. The lack of functional water wells has severe consequences, including increased risk of waterborne diseases, reduced economic productivity, and decreased quality of life.

The goal of this project is to develop a predictive model that can identify which water wells are likely to be non-functional, allowing the Tanzanian government and other stakeholders to target their efforts more effectively, improving the lives of thousands of people. Our model can be used to inform data-driven decision making, optimize maintenance and repair efforts, and ultimately reduce the number of communities without access to safe drinking water.

#### Stakeholders
- Local Communities: Direct beneficiaries of functional wells.
- Non-Governmental Organizations (NGOs): Organizations funding and supporting water projects.
- Government Agencies: Involved in water resource management and infrastructure.
- Data Scientists and Analysts: Responsible for analyzing data to guide decision-making.

#### Objectives

- Develop a predictive model that can accurately classify wells as functional or non-functional
- Evaluate the performance of different machine learning models and select the best one
- Provide recommendations for improving the accuracy of well functionality predictions.

### Data Understanding

The data for this project comes from the Taarifa waterpoints dashboard, which aggregates data from the Tanzania Ministry of Water. The data is suitable for this project because it provides a comprehensive overview of the water wells in Tanzania, including their characteristics and status. We can use it to identify patterns and relationships between different features, which can inform our predictive models to determine the funcionality of water wells.

It is divided into three CSV files: a training set containing 59,400 observations (80%) and a test set containing 14,850 observations (20%). The third dataset contains training set labels that detail status group information for each of the training set values indicating whether the pump is “functional”, “non-functional”, or “in need of repairs”. Both the train and test datasets have 40 similar columns with information about water pumps in Tanzania.

The limitations of the dataset are;
   - The data is limited to water wells in Tanzania and may not be representative of water wells in other countries.
   - The data does not include information on the maintenance history of the wells, which can affect their status.

Hence models developed may not be generalizable to other countries or contexts, and may not capture the full range of factors that affect the status of water wells.

### Data Preparation

In [1]:
import pandas as pd
import numpy as np

In [11]:
# Importing the csv files
training_set_values = pd.read_csv("training_set_values.csv")
test_set_values = pd.read_csv("test_set_values.csv")
training_set_labels = pd.read_csv("training_set_labels.csv")

In [12]:
def explore_datasets():
    
    # Explore the structure of datasets
    def explore_structure(data, name):
        print(f"Structure of {name}:")
        print(data.info())
        print("\n")

    explore_structure(training_set_values, "training_set_values")
    explore_structure(test_set_values, "test_set_values")
    explore_structure(training_set_labels, "training_set_labels")
    
    # Display the first few rows of the datasets
    def explore_first_few_rows(data, name):
        print(f"First few rows of {name}:")
        print(data.head())
        print("\n")
    explore_first_few_rows(training_set_values, "training_set_values")
    explore_first_few_rows(test_set_values, "test_set_values")
    explore_first_few_rows(training_set_labels, "training_set_labels")
   
   #Display if there are any missing values
    def explore_missing_values(data, name):
        print(f"Distribution of {name}:")
        print(data.isna().sum())
        print("\n")
    explore_missing_values(training_set_values, "training_set_values")
    explore_missing_values(test_set_values, "test_set_values")
    explore_missing_values(training_set_labels, "training_set_labels")
   
   # Call the function
explore_datasets()

Structure of training_set_values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55763 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59398 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55522 non-null  object
 21  scheme_name            30590 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB
None


Structure of test_set_values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     14850 non-null  int64
 1   amount_tsh             14850 non-null  float64
 2   date_recorded          14850 non-null  object
 3   funder                 13980 non-null  object
 4   gps_height             14850 non-null  int64
 5   installer              13973 non-null  object
 6   longitude              14850 non-null  float64
 7   latitude               14850 non-null  float64
 8   wpt_name               14850 non-null  object
 9   num_private            14850 non-null  int64
 10  basin                  14850 non-null  object
 11  subvillage             14751 non-null  object
 12  region                 14850 non-null  object
 13  region_code            14850 non-null  int64
 14  district_code          14850 non-null  int64
 15  lga                    14850 non-null  object
 16  ward                   14850 non-null  object
 17  population             14850 non-null  int64
 18  public_meeting         14029 non-null  object
 19  recorded_by            14850 non-null  object
 20  scheme_management      13881 non-null  object
 21  scheme_name            7608 non-null   object
 22  permit                 14113 non-null  object
 23  construction_year      14850 non-null  int64
 24  extraction_type        14850 non-null  object
 25  extraction_type_group  14850 non-null  object
 26  extraction_type_class  14850 non-null  object
 27  management             14850 non-null  object
 28  management_group       14850 non-null  object
 29  payment                14850 non-null  object
 30  payment_type           14850 non-null  object
 31  water_quality          14850 non-null  object
 32  quality_group          14850 non-null  object
 33  quantity               14850 non-null  object
 34  quantity_group         14850 non-null  object
 35  source                 14850 non-null  object
 36  source_type            14850 non-null  object
 37  source_class           14850 non-null  object
 38  waterpoint_type        14850 non-null  object
 39  waterpoint_type_group  14850 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 4.5+ MB
None


Structure of training_set_labels:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            59400 non-null  int64
 1   status_group  59400 non-null  object
dtypes: int64(1), object(1)
memory usage: 928.3+ KB
None


First few rows of training_set_values:
      id  amount_tsh date_recorded        funder  gps_height     installer  \
0  69572      6000.0    2011-03-14         Roman        1390         Roman
1   8776         0.0    2013-03-06       Grumeti        1399       GRUMETI
2  34310        25.0    2013-02-25  Lottery Club         686  World vision
3  67743         0.0    2013-01-28        Unicef         263        UNICEF
4  19728         0.0    2011-07-13   Action In A           0       Artisan

   longitude   latitude              wpt_name  num_private  ... payment_type  \
0  34.938093  -9.856322                  none            0  ...     annually
1  34.698766  -2.147466              Zahanati            0  ...    never pay
2  37.460664  -3.821329           Kwa Mahundi            0  ...   per bucket
3  38.486161 -11.155298  Zahanati Ya Nanyumbu            0  ...    never pay
4  31.130847  -1.825359               Shuleni            0  ...    never pay

  water_quality quality_group      quantity  quantity_group  \
0          soft          good        enough          enough
1          soft          good  insufficient    insufficient
2          soft          good        enough          enough
3          soft          good           dry             dry
4          soft          good      seasonal        seasonal

                 source           source_type  source_class  \
0                spring                spring   groundwater
1  rainwater harvesting  rainwater harvesting       surface
2                   dam                   dam       surface
3           machine dbh              borehole   groundwater
4  rainwater harvesting  rainwater harvesting       surface

               waterpoint_type waterpoint_type_group
0           communal standpipe    communal standpipe
1           communal standpipe    communal standpipe
2  communal standpipe multiple    communal standpipe
3  communal standpipe multiple    communal standpipe
4           communal standpipe    communal standpipe

[5 rows x 40 columns]


First few rows of test_set_values:
      id  amount_tsh date_recorded                  funder  gps_height  \
0  50785         0.0    2013-02-04                    Dmdd        1996
1  51630         0.0    2013-02-04  Government Of Tanzania        1569
2  17168         0.0    2013-02-01                     NaN        1567
3  45559         0.0    2013-01-22              Finn Water         267
4  49871       500.0    2013-03-27                  Bruder        1260

    installer  longitude   latitude                 wpt_name  num_private  \
0        DMDD  35.290799  -4.059696  Dinamu Secondary School            0
1         DWE  36.656709  -3.309214                  Kimnyak            0
2         NaN  34.767863  -5.004344           Puma Secondary            0
3  FINN WATER  38.058046  -9.418672           Kwa Mzee Pange            0
4      BRUDER  35.006123 -10.950412          Kwa Mzee Turuka            0

   ... payment_type water_quality quality_group      quantity  quantity_group  \
0  ...    never pay          soft          good      seasonal        seasonal
1  ...    never pay          soft          good  insufficient    insufficient
2  ...    never pay          soft          good  insufficient    insufficient
3  ...      unknown          soft          good           dry             dry
4  ...      monthly          soft          good        enough          enough

                 source           source_type  source_class  \
0  rainwater harvesting  rainwater harvesting       surface
1                spring                spring   groundwater
2  rainwater harvesting  rainwater harvesting       surface
3          shallow well          shallow well   groundwater
4                spring                spring   groundwater

      waterpoint_type waterpoint_type_group
0               other                 other
1  communal standpipe    communal standpipe
2               other                 other
3               other                 other
4  communal standpipe    communal standpipe

[5 rows x 40 columns]


First few rows of training_set_labels:
      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional


Distribution of training_set_values:
id                           0
amount_tsh                   0
date_recorded                0
funder                    3637
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     2
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3878
scheme_name              28810
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64


Distribution of test_set_values:
id                          0
amount_tsh                  0
date_recorded               0
funder                    870
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7242
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64


Distribution of training_set_labels:
id              0
status_group    0
dtype: int64

Train set has 59400 water points data with 40 features. Train labels data has 59400 same water points with train set but just has information about id of these points and status of them.
The index numbers in two data sets look same but it is impossible to check the nearly 60000 points. So, to make sure we assign data sets 'id' as index and after that merge them.

In [13]:
training_set_values.set_index('id',inplace=True) 
training_set_labels.set_index('id',inplace=True)
df = pd.merge(training_set_labels, training_set_values, how = 'inner', left_index = True,right_index=True)
df.reset_index(names=['new_id'])

,new_id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,functional,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59400 entries, 69572 to 26348
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           59400 non-null  object
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55763 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59398 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55522 non-null  object
 21  scheme_name            30590 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(6), object(31)
memory usage: 20.6+ MB

In [15]:
obj_df = df.select_dtypes(include=['object']) 
obj_df.nunique()

status_group                 3
date_recorded              356
funder                    1896
installer                 2145
wpt_name                 37399
basin                        9
subvillage               19287
region                      21
lga                        125
ward                      2092
public_meeting               2
recorded_by                  1
scheme_management           11
scheme_name               2695
permit                       2
extraction_type             18
extraction_type_group       13
extraction_type_class        7
management                  12
management_group             5
payment                      7
payment_type                 7
water_quality                8
quality_group                6
quantity                     5
quantity_group               5
source                      10
source_type                  7
source_class                 3
waterpoint_type              7
waterpoint_type_group        6
dtype: int64

#### Missing values
scheme_name has the most missing values,other columns with missing values are; funder, installer, public_meeting, scheme_management, permit, and subvillage. 

#### Duplicate and Similar Data
The following columns all contain duplicate or similar data, will remove features that will cause multicollinearity:

- extraction_type, extraction_type_group, and extraction_type_class
- payment and payment_type
- water_quality and quality_group
- quantity and quantity_group
- source and source_type
- waterpoint_type and waterpoint_type_group
- region and region_code
- management and management_group

#### Data types
wpt_name, subvillage, ward, scheme_name, installer, funder, and date_recorded are categorical features that have unique values in the thousands. This will be a problem with dummy variables, will likely remove or feature engineer.

I will drop recorded_by as it has the same value for all rows.

public_meeting and permit are boolean.

I will clean the dataset by removing similar and unnecessary columns and trim the dataset. I will also further investigate whether some columns contain the same information if it was not immediately obvious.

In [16]:
df.drop(columns=['scheme_name', 'funder','installer', 'public_meeting','permit','subvillage','management_group','scheme_management',
                 'quantity_group','source_type','quality_group','payment_type','extraction_type_class','recorded_by','extraction_type', 
                 'waterpoint_type_group','region_code','wpt_name','ward', 'date_recorded'],inplace=True )

In [17]:
df

,status_group,amount_tsh,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,construction_year,extraction_type_group,management,payment,water_quality,quantity,source,source_class,waterpoint_type
id,,,,,,,,,,,,,,,,,,,,
69572,functional,6000.0,1390,34.938093,-9.856322,0,Lake Nyasa,Iringa,5,Ludewa,109,1999,gravity,vwc,pay annually,soft,enough,spring,groundwater,communal standpipe
8776,functional,0.0,1399,34.698766,-2.147466,0,Lake Victoria,Mara,2,Serengeti,280,2010,gravity,wug,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe
34310,functional,25.0,686,37.460664,-3.821329,0,Pangani,Manyara,4,Simanjiro,250,2009,gravity,vwc,pay per bucket,soft,enough,dam,surface,communal standpipe multiple
67743,non functional,0.0,263,38.486161,-11.155298,0,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,58,1986,submersible,vwc,never pay,soft,dry,machine dbh,groundwater,communal standpipe multiple
19728,functional,0.0,0,31.130847,-1.825359,0,Lake Victoria,Kagera,1,Karagwe,0,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60739,functional,10.0,1210,37.169807,-3.253847,0,Pangani,Kilimanjaro,5,Hai,125,1999,gravity,water board,pay per bucket,soft,enough,spring,groundwater,communal standpipe
27263,functional,4700.0,1212,35.249991,-9.070629,0,Rufiji,Iringa,4,Njombe,56,1996,gravity,vwc,pay annually,soft,enough,river,surface,communal standpipe
37057,functional,0.0,0,34.017087,-8.750434,0,Rufiji,Mbeya,7,Mbarali,0,0,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,groundwater,hand pump
31282,functional,0.0,0,35.861315,-6.378573,0,Rufiji,Dodoma,4,Chamwino,0,0,nira/tanira,vwc,never pay,soft,insufficient,shallow well,groundwater,hand pump
26348,functional,0.0,191,38.104048,-6.747464,0,Wami / Ruvu,Morogoro,2,Morogoro Rural,150,2002,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,groundwater,hand pump

In [18]:
#Summary statistics
# Summary statistics of numerical features
print("Summary statistics of numerical features:")
numerical_stats = df.describe()
print(numerical_stats)
print("\n")
    
# Summary statistics of categorical features
print("Summary statistics of categorical features:")
categorical_stats = df.describe(include=['object'])
print(categorical_stats)

Summary statistics of numerical features:
          amount_tsh    gps_height     longitude      latitude   num_private  \
count   59400.000000  59400.000000  59400.000000  5.940000e+04  59400.000000
mean      317.650385    668.297239     34.077427 -5.706033e+00      0.474141
std      2997.574558    693.116350      6.567432  2.946019e+00     12.236230
min         0.000000    -90.000000      0.000000 -1.164944e+01      0.000000
25%         0.000000      0.000000     33.090347 -8.540621e+00      0.000000
50%         0.000000    369.000000     34.908743 -5.021597e+00      0.000000
75%        20.000000   1319.250000     37.178387 -3.326156e+00      0.000000
max    350000.000000   2770.000000     40.345193 -2.000000e-08   1776.000000

       district_code    population  construction_year
count   59400.000000  59400.000000       59400.000000
mean        5.629747    179.909983        1300.652475
std         9.633649    471.482176         951.620547
min         0.000000      0.000000           0.000000
25%         2.000000      0.000000           0.000000
50%         3.000000     25.000000        1986.000000
75%         5.000000    215.000000        2004.000000
max        80.000000  30500.000000        2013.000000


Summary statistics of categorical features:
       status_group          basin  region     lga extraction_type_group  \
count         59400          59400   59400   59400                 59400
unique            3              9      21     125                    13
top      functional  Lake Victoria  Iringa  Njombe               gravity
freq          32259          10248    5294    2503                 26780

       management    payment water_quality quantity  source source_class  \
count       59400      59400         59400    59400   59400        59400
unique         12          7             8        5      10            3
top           vwc  never pay          soft   enough  spring  groundwater
freq        40507      25348         50818    33186   17021        45794

           waterpoint_type
count                59400
unique                   7
top     communal standpipe
freq                 28522

#### Exloratory Data Analysis